@charset "utf-8";
:root{
  --main-font : "pretendard", sans-serif;
  --main-1 : #5B9CFF;
  --main-2 : #84AFFF;
  --main-3 : #A9C7FF;
  --main-4 : #CEE2FF;
  --main-5 : #E0EBFF;
  --main-6 : #EFF8FF;
  --grayscale-1 : #101010;
  --grayscale-2 : #252525;
  --grayscale-3 : #454545;
  --grayscale-4 : #5D5F62;
  --grayscale-5 : #83878B;
  --grayscale-6 : #9CA2A8;
  --grayscale-7 : #BAC0C5;
  --grayscale-8 : #D5D9DD;
  --grayscale-9 : #E5EAEF;
  --grayscale-10 : #F0F3F6;
  --white : #fff;
  --mainfont-color: #2079ff;
  --bg-color : #F6FAFD;
  --main-gradi : linear-gradient(90deg,rgba(124, 176, 255, 1) 0%, rgba(87, 154, 255, 1) 100%);
}


/*공통*/
/*
h2: 25px SB
h3: 22px SB
h4: 20px SB
p1: 18px SB
p2
p4: 14px M

타이틀 - H2
서브타이틀(탭)  - H3
인풋박스타이틀 - H4
하단네비 - 12px
버튼 - 18px /  버튼박스 - 252px 48px / 버튼 두개있는거 - 갭 12px / 가로는 콘텐츠에따라 
인풋 - 18px

*/

header{
  background-color: var(--main-1);
  border-radius: 0 0 15px 15px;
}
header ul{
  display: flex;
  justify-content: space-between;
}
header h1 img{
  width: 103px;
  height: 21px;
  margin: 10px;
}

header .head-util{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  width: 240x;
  height: 30px;
  color: var(--white);
  background: var(--main-3);
  border-radius: 50px;
}
header .head-util img{
  width: 35px;
  height: 30px;
}

header .alert-badge{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
  color: var(--white);
  margin: 5px;
  gap: 8px;
}
header .alert-badge span{
  font-size: 14px;
}

header .weather-alert{
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  color: var(--white);
  padding: 25px;
}
header .weather-alert img{
  width: 100px;
}

.content-healthscore{
  background: #F6FAFD;
}
.content-healthscore .inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  margin-bottom: 10px;
  display: flex;
}
.content-healthscore a{
  color: #888;
  text-decoration: none;
}


.monthlyscore p{
  background: var(--white);
  border-radius: 15%;
  font-size: 16px;
}
.monthlyscore .score{
  width: 86px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
}
.monthlyscore .warning{
  width: 16px;
}
.monthlyscore .desc .down {
  color: red;
}

.monthlyscore .stats {
  justify-content: center;
}