@charset "utf-8";

:root{
  --main-font : "Pretendard-Regular", sans-serif;
  --main-1 : #5B9CFF;
  --main-2 : #84AFFF;
  --main-3 : #A9C7FF;
  --main-4 : #CEE2FF;
  --main-5 : #E0EBFF;
  --main-6 : #EFF8FF;
  --grayscale-1 : #101010;
  --grayscale-2 : #252525;
  --grayscale-3 : #454545;
  --grayscale-4 : #5D5F62;
  --grayscale-5 : #83878B;
  --grayscale-6 : #9CA2A8;
  --grayscale-7 : #BAC0C5;
  --grayscale-8 : #D5D9DD;
  --grayscale-9 : #E5EAEF;
  --grayscale-10 : #F0F3F6;
  --white : #fff;
  --mainfont-color: #2079ff;
  --bg-color : #F6FAFD;
  --main-gradi : linear-gradient(90deg,rgba(124, 176, 255, 1) 0%, rgba(87, 154, 255, 1) 100%);
}
/*공통*/
header{
  height: 95px;
}
header h1{
  font-size: 25px;
  font-weight: 600;
}
header ul{
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.head1 ul img{
  width: 20px;
  height: 20px;
  margin-top: 2px;
  margin-right: 4px;
}
.head3 ul{
  display: flex;
  justify-content: space-between;
}
.head3 ul .head-util{
  display: flex;
  gap: 8px;
}
.head3 ul li .bi{
  font-size: 2.4rem;
  color: var(--grayscale-2);
}
[class^="cont-"]{
  width: 100%;
  height: 100vh; /*임시 높이 작업하면서 상황에 맞게 빼세요*/
  background-color: var(--bg-color);
} 
[class^="cont-"] > .inner{
  padding: 5%;
} 
[class^="cont-"] > .inner h2{
  font-size: 2.2rem;
}
.cont-layout{}
.gnb{
  position: fixed; 
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  min-width: 320px; 
  max-width: 720px; 
  width: 100%; height: 93px; 
  background: url(../images/gnb_ct.png) no-repeat center top;
}
.gnb::before, .gnb::after{
  content: ""; 
  display: block; 
  width: 20px; 
  height: 93px; 
  position: absolute; 
  top: 0;
}
.gnb::before{
  left: 0; 
  background: url(../images/gnb_lt.png) no-repeat;
}
.gnb::after{
  right: 0; 
  background: url(../images/gnb_rt.png) no-repeat;
}
.gnb-list{
  display: flex; 
  gap: 88px; 
  padding:0 20px; 
  align-items: end; 
  height: 93px;
}
.gnb-list > div{
  width: calc((100% - 88px) / 2); 
  height: 93px; 
  background:url(../images/gnb_bg.png) repeat-x center bottom; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  padding-top: 20px;
}
.gnb-list li{
  text-align: center;
  color: #8E95A1;
  font-size: 14px;
}
.gnb-list .bi{
  font-size: 24px;
}
.gnb-home{
  width: 55px; 
  height: 55px; 
  background: linear-gradient(90deg,rgba(124, 176, 255, 1) 0%, rgba(87, 154, 255, 1) 100%); 
  border-radius: 50%; 
  position: absolute; 
  z-index: 2; 
  top: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  text-align: center;
  box-shadow:  0px 3px 12px rgba(91, 156, 255, 0.27);
}
.gnb-home a{
  display: block;
  padding-top: 6px;
}
.gnb-home .bi{
  font-size: 2.6rem;
  color: #fff;
}