@charset "utf-8";
:root{
  --main-font : "pretendard", sans-serif;
  --main-1 : #5B9CFF;
  --main-2 : #84AFFF;
  --main-3 : #A9C7FF;
  --main-4 : #CEE2FF;
  --main-5 : #E0EBFF;
  --main-6 : #EFF8FF;
  --grayscale-1 : #101010;
  --grayscale-2 : #252525;
  --grayscale-3 : #454545;
  --grayscale-4 : #5D5F62;
  --grayscale-5 : #83878B;
  --grayscale-6 : #9CA2A8;
  --grayscale-7 : #BAC0C5;
  --grayscale-8 : #D5D9DD;
  --grayscale-9 : #E5EAEF;
  --grayscale-10 : #F0F3F6;
  --white : #fff;
  --mainfont-color: #2079ff;
  --bg-color : #F6FAFD;
  --main-gradi : linear-gradient(90deg,rgba(124, 176, 255, 1) 0%, rgba(87, 154, 255, 1) 100%);
}


/*공통*/
/*
h2: 25px SB
h3: 22px SB
h4: 20px SB
p1: 18px SB
p2
p4: 14px M

타이틀 - H2
서브타이틀(탭)  - H3
인풋박스타이틀 - H4
하단네비 - 12px
버튼 - 18px /  버튼박스 - 252px 48px / 버튼 두개있는거 - 갭 12px / 가로는 콘텐츠에따라 
인풋 - 18px

*/



/*프로필*/
[class^="content-mypage-"]{
  background-color: var(--white);
  min-height: 100vh;
}
.content-mypage-main, .content-mypage-sub-01{
  background-color: var(--bg-color);
}
[class^="content-mypage-"] .sec-profile{
  margin-bottom : 20px;
}
[class^="content-mypage-"] .sec-profile .profile-sh-b, [class^="content-mypage-"] .sec-profile .profile-ka{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  height: 120px;
  background-color: var(--main-1);
  margin-top: 12px;
  padding: 12px 16px 12px 20px;
  border-radius: 15px;
}
[class^="content-mypage-"] .sec-profile [class^="profile-"] .profile-img{
  height: 80px;
  aspect-ratio: 1 / 1; /* 가로:세로 = 1:1 */
  border-radius: 50%;
  background-color: var(--main-6);
  padding: 8px 8px 10px;
}
[class^="content-mypage-"] .sec-profile [class^="profile-"] .profile-img img{
  width: 100%;
  height: 100%;
}
[class^="content-mypage-"] .sec-profile [class^="profile-"] .profile-info{
  flex: 1;
  margin-left: 8px;
}
[class^="content-mypage-"] .sec-profile [class^="profile-"] .profile-info h3{
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--white);
}
[class^="content-mypage-"] .sec-profile [class^="profile-"] .profile-info h3 span{
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--white);
}
[class^="content-mypage-"] .sec-profile [class^="profile-"] .profile-info p{
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--white);
} 
[class^="content-mypage-"] .profile-ka .profile-img i{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: var(--main-2);
}
[class^="content-mypage-"] .back{
  margin-top: 60px;
  cursor: pointer;
}
.f-mypage .gnb-list .f-mypage-ul li{
  color: var(--main-1);
}
.f-mypage .gnb-list .f-mypage-ul .bi{
  color: var(--main-1);
}


/*메인*/
.content-mypage-main ul{
  margin-top: 20px;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  padding: 3% 5%;
}
.content-mypage-main ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}
.content-mypage-main ul li h3{
  font-size: 1.8rem;
  font-weight: 600;
}

.center-modal{
  display: flex;
  align-items: center;
  justify-content: center;
}
.center-modal .modal-box{
  width: 360px;
  border-radius: 20px;
  padding-top: 40px;
  height: auto;
}
.center-modal .modal-box h5{
  margin: 20px 0 40px;
  font-size: 1.8rem;
}


/*체크박스*/
.content-mypage-sub-02 input[type="radio"]{
  appearance: none;
}
.content-mypage-sub-02 input[type="radio"] + label{
  position: relative;
  padding: 0 28px;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: var(--grayscale-5);
  color: var(--white);
  font-weight: 600;
  font-size: 1.8rem;
  padding: 12px 0;

  border-radius: 8px;
}
.content-mypage-sub-02 input[type="radio"]:checked + label{
  color: var(--white);
  background-color: var(--main-1);
}
.content-mypage-sub-02 .btn-midbox li{
  flex: 1;
  text-align: center;

  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
}


/*대상자 수정*/
.content-mypage-sub-02 .sf02{
  margin: 7%;
}
.content-mypage-sub-02 .sf02 .profile-sh-y{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.content-mypage-sub-02 .sf02 .profile-sh-y .profile-img{
  height: 150px;
  aspect-ratio: 1 / 1; /* 가로:세로 = 1:1 */
  border-radius: 50%;
  background-color: #FFFDE6;
  padding: 4% 3% 5%;
}
.content-mypage-sub-02 .sf02 .profile-sh-y .profile-img img{
  width: 100%;
  height: 100%;
} 
.content-mypage-sub-02 .field05 .choice-box{
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 20px;
}
.content-mypage-sub-02 .field05 .choice-box > div{
  width: 100%;
  gap: 16px;
  align-items: center;
  border: 1px ;
  height: 48px;
  cursor: pointer;
  border-radius: 16px;
  justify-content: space-between;
}
.content-mypage-sub-02 .field05 .choice-box > div div{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 600;   
  color: var(--grayscale-3);
  border-radius: 12px;
  border: 2px solid var(--main-1);
}
.content-mypage-sub-02 .field05 .choice-box .field05-right{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.content-mypage-sub-02 .field05 .choice-box h4{
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--grayscale-3);
  letter-spacing: 1px;
}

.content-mypage-sub-02 .btn-midbox .btn-mid-01{
  background-color: var(--grayscale-8);
  color: var(--white);

}
.content-mypage-sub-02 .btn-midbox input[type="radio"]{
  appearance: none;
}
.content-mypage-sub-02 .btn-midbox input[type="radio"] + label{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}
.profile-re.btn-midbox input[type="radio"] + label {
  margin-top: 0;
}
@media (max-width : 390px){
  .content-mypage-sub-02 .field05 .choice-box{
    gap: 8px;
  }
  .content-mypage-sub-02 .field05 .choice-box > div div{
    padding: 0 8px;
  }
}
/*보호자 수정*/
.guardian .sf02 .profile-sh-y .profile-img{
  background-color: var(--main-5);
  text-align: center;
}
.guardian .sf02 .profile-sh-y .profile-img .bi{
  font-size: 9rem;
  color: var(--main-1);
}
.guardian .field02 .btn-pw{
  width: 100%;
  height: 48px;
  padding: 0 3%;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--grayscale-2);
  background-color: var(--main-6);
  border-radius: 8px;
  margin-bottom: 4px;
  margin-top: 8px;
}
.field02 .input-icon span.id-icon{
  top: 65%;
}
.guardian .field02 .pw-box span{
  position: absolute;
  bottom: -3%;
  right: 5%; /*아이콘 위치 조정*/
  transform: translateY(-50%);
  font-size: 2.2rem;
  color: var(--grayscale-2);
  cursor: pointer;
}



/*구독권 관리*/
.content-mypage-03{
  background-color: var(--bg-color);
}
.content-mypage-03 .subscription-box-01{
  width: 100%;
  background-color: var(--white);
  padding: 36px 0;
  text-align: center;
  margin: 8px 0 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.07);
}
.content-mypage-03 .subscription-box-01 h3{
  color: var(--grayscale-6);
}
[class^="content-mypage-"] .plus{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.content-mypage-03 .modal-box{
  height: 300px;
}
.content-mypage-03 .modal-box h4{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 60px;
}
.access-02 .modal-box{
  height: auto;
}
/*구독권 확인 창*/
.subscription03 .modal-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscription03 .modal-box{
  width: 360px;
  border-radius: 20px;
  padding-top: 40px;
}
.subscription03 .modal-box h5{
  margin: 20px 0 40px;
  font-size: 1.8rem;
}
/*구독권 등록 후*/
.subscription05 .subscription-box-01{
  padding: 24px 28px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscription05 .subscription-box-01 p{
  margin-top: 8px;
  font-weight: 500;
  color: var(--grayscale-4);
}
.subscription05 .subscription-box-01 .subscrip-btn{
  background-color: var(--main-5);
  padding: 8px;
  border-radius: 8px;
  font-weight: 600;
  color: var(--mainfont-color);
}

/*생활알림*/
.routine .routine-menu ul{
  display: flex;
  gap: 12px;
  justify-content: space-between;
}
.routine .routine-menu ul li{
  flex: 1;
  text-align: center;
  padding: 12px 0;
  background-color: var(--grayscale-9);
  color: var(--grayscale-3);
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
}
.routine .routine-menu ul li.active{
  background-color: var(--main-1);
  color: var(--white);
}
.routine .routine-content-item{
  margin-bottom: 60px;
}
.routine .routine-content-item > li{
  margin: 20px 0;
  
}
.routine .routine-content-item > li a{
  display: block;
  background-color: var(--white);
  border-radius: 16px;
  padding: 24px 28px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
}
.routine .routine-content-item .alert-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.routine .routine-content-item .alert-text > img{
  height: 40px;
}
.routine .routine-content-item .alert-text-left{
  display: flex;
  align-items: center;
  gap: 8px;
}
.routine .routine-content-item h4{
  font-size: 2.2rem;
}
.routine .routine-content-item .btn-time{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}
.routine .routine-content-item .btn-time li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 20px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--mainfont-color);
  border: 2px solid var(--main-1);
  padding: 4px 12px;
}


/*생활알림*/
.registration .registration-menu ul{
  display: flex;
  gap: 12px;
  justify-content: space-between;
  margin: 8px 0 12px;
}
.registration .registration-menu ul li{
  flex: 1;
  text-align: center;
  padding: 12px 0;
  background-color: var(--grayscale-9);
  color: var(--grayscale-3);
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
}
.registration .registration-menu ul li.active{
  background-color: var(--main-1);
  color: var(--white);
}
.registration .field05 ul{
  margin-bottom: 12px;
}
.registration .field05 p{
  font-size: 1.8rem;
  color: var(--grayscale-6);
  margin-bottom: 20px;
}
.registration .field05 .bi{
  font-size: 1.6rem;
  color: var(--grayscale-7);
  margin-right: 6px;
  cursor: pointer;

}


/*일정 등록*/
.registration .field02 .input-icon span.id-icon{
  top: 80%;
}
.registration .alert-set .btn-time-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
  width: 100%;
}
.registration .alert-set .btn-time-box div{
  width: calc((100% - 16px) / 2);
}
.registration .alert-set .btn-time-box .btn-time-right{
  display: flex;
  align-items: center;
  gap: 16px;
}
.registration .alert-set .btn-time-box .btn-time-right button{
  width: calc((100% - 16px) / 2);
}
.registration .alert-set .btn-time-box .time-set{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  border-radius: 12px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--mainfont-color);
  border: 2px solid var(--main-1);
  padding: 16px 0;
  background-color: transparent;
  font-size: 1.8rem;
}

.registration .alert-set .btn-time-box .delete{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #FF6464;
  width: 100%;
  background-color: #FFE4E4;
  font-size: 1.8rem;
  padding: 16px 0;
}
.registration .alert-set .btn-time-box .plus-btn{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--main-1);

  background-color: var(--main-5);
  font-size: 1.8rem;
  padding: 16px 0;
} 


/*specific-cal*/

.field07 input[type="checkbox"]{
  appearance: none;
}
.field07 ul{
  width: 100%;
  display: flex;
  gap: 6px;

}
.field07 ul li{
  flex: 1;
  text-align: center;
}
.field07 input[type="checkbox"] + label::before{
  content: none;
}
.field07 input[type="checkbox"] + label{
  display: inline-block;
  width: 100%;
  color: var(--grayscale-3);
  border-radius: 12px;
  padding: 16px 6px;
  background-color: var(--grayscale-9);
  font-weight: 600;
}
 
.field07 input[type="checkbox"]:checked + label{
  background-color: var(--main-1);
  color: #fff;
}
.registration .alert-set .time-set img{
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/*access*/
.toggle-box{
  display: flex;
  align-items: center;
  background-color: var(--white);
  padding: 20px 24px;
  margin-bottom: 16px;
  border-radius: 12px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
}
.toggle-left{
  width: 80%;
}
.toggle-left h3{
  font-size: 1.8rem;
}
.toggle-right{
  width: 20%;
  text-align: right;
  padding-right: 12px;
}
/* check box - switch */
.switch{
  display:inline-block;
  position:relative;
  width:40px;
  height:20px;
  cursor: pointer;
}
.switch input{
  position:absolute;
  opacity:0;
}
.switch .slider{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#eaeaea;
  border:3px solid #eaeaea;
  border-radius:11px;
  transition:0.4s;
}
.switch .slider:before{
  display:block;
  content:"";
  position:absolute;
  left:1px;
  top:0;
  width:14px;
  height:14px;
  background-color:#fff;
  border-radius:50%;
  box-sizing:border-box;
  transition:0.4s;
}

.switch input:checked + .slider{
  border-color: var(--main-1);
  background-color:var(--main-1);
}
.switch input:checked + .slider:before{
  border-color: var(--main-1);
  transform:translateX(19px);
}

.switch input:disabled + .slider{
  background:#f5f5f5;
  border-color:#e2e2e2;
}
.switch input:disabled + .slider:before{
  background:#f5f5f5;
  border-color:#d5d5d5;
}
.switch input:checked:disabled + .slider{
  background: var(--main-5);
  border-color:var(--main-5);
}
.switch input:checked:disabled + .slider:before{
  background: var(--main-5);
  border-color: var(--main-5);
}


/* large-mode 체크 시 모든 toggle-box 스타일 변경 */
.large-mode:checked ~ ul .toggle-box {
  padding: 28px 24px;
}

.large-mode:checked ~ ul .toggle-box .toggle-left h3 {
  font-size: 2.4rem;
}
/* 큰 글씨 모드 켜졌을 때 스위치 크기 확대 */
.large-mode:checked ~ ul .switch {
  width: 50px;
  height: 26px;
}

.large-mode:checked ~ ul .switch .slider:before {
  width: 20px;
  height: 20px;
  transform: translateX(24px); /* 손잡이 이동 거리 조정 */
}

.toggle-left p{
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--grayscale-6);
  margin: 4px 0;
}
.toggle-left h4 {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--grayscale-5);
}
.toggle-left button{
  background-color: transparent;
  transform: translateY(4px);
  margin-left: 4px;
  cursor: pointer;
}


/*고객센터*/
.cs .inner >div{
  margin-bottom: 20px;
}
.cs ul{
  margin-top: 12px;
  margin-bottom: 60px;
}
.cs .cs-box .cs-left{
  display: flex;
  align-items: center;
  gap: 12px;
}

.content-mypage-main.cs ul.cs-info{
  padding: 24px 0;
}
.content-mypage-main.cs ul.cs-info li{
  display: block;
  text-align: center;
}
.content-mypage-main.cs ul.cs-info li h3{
  font-size: 2.2rem;
  font-weight: 600;
  color: var(--grayscale-5);
}
.content-mypage-main.cs ul.cs-info li h3 strong{
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--grayscale-2);
  margin-right: 8px;
}
.content-mypage-main.cs ul.cs-info li p{
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--grayscale-5);
  margin: 4px 0 24px;
}
.content-mypage-main.cs ul.cs-info li br{
  display: none;
}
.content-mypage-main.cs ul.cs-info li div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 20%;
}
.content-mypage-main.cs ul.cs-info li div button{
  width: 100%;
  height: 48px;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 15px;
  line-height: 48px; /*버튼 높이에 맞게 조정*/
  background-color: var(--main-5);
  color: var(--mainfont-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/**/
@media (max-width : 390px){
  .content-mypage-main.cs ul.cs-info li br{
    display: block;
  }
  .content-mypage-main.cs ul.cs-info li div{
    padding: 0 40px;
    gap: 8px;
  }
}
