@charset "utf-8";
:root{
  --main-font : "pretendard", sans-serif;
  --main-1 : #5B9CFF;
  --main-2 : #84AFFF;
  --main-3 : #A9C7FF;
  --main-4 : #CEE2FF;
  --main-5 : #E0EBFF;
  --main-6 : #EFF8FF;
  --grayscale-1 : #101010;
  --grayscale-2 : #252525;
  --grayscale-3 : #454545;
  --grayscale-4 : #5D5F62;
  --grayscale-5 : #83878B;
  --grayscale-6 : #9CA2A8;
  --grayscale-7 : #BAC0C5;
  --grayscale-8 : #D5D9DD;
  --grayscale-9 : #E5EAEF;
  --grayscale-10 : #F0F3F6;
  --white : #fff;
  --mainfont-color: #2079ff;
  --bg-color : #F6FAFD;
  --main-gradi : linear-gradient(90deg,rgba(124, 176, 255, 1) 0%, rgba(87, 154, 255, 1) 100%);
}


/*공통*/
/*
h2: 25px SB
h3: 22px SB
h4: 20px SB
p1: 18px SB
p2
p4: 14px M

타이틀 - H2
서브타이틀(탭)  - H3
인풋박스타이틀 - H4
하단네비 - 12px
버튼 - 18px /  버튼박스 - 252px 48px / 버튼 두개있는거 - 갭 12px / 가로는 콘텐츠에따라 
인풋 - 18px

*/



/*프로필*/
[class^="content-mypage-"]{
  background-color: var(--white);
  min-height: 100vh;
}
.content-mypage-main, .content-mypage-sub-01{
  background-color: var(--bg-color);
}
[class^="content-mypage-"] .sec-profile{
  margin-bottom : 5%;
}
[class^="content-mypage-"] .sec-profile .profile-sh-b, [class^="content-mypage-"] .sec-profile .profile-ka{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2%;
  width: 100%;
  height: 120px;
  background-color: var(--main-1);
  margin-top: 12px;
  padding: 2% 5%;
  border-radius: 15px;
}
[class^="content-mypage-"] .sec-profile [class^="profile-"] .profile-img{
  height: 80px;
  aspect-ratio: 1 / 1; /* 가로:세로 = 1:1 */
  border-radius: 50%;
  background-color: var(--main-6);
  padding: 3% 3% 4%;
}
[class^="content-mypage-"] .sec-profile [class^="profile-"] .profile-img img{
  width: 100%;
  height: 100%;
}
[class^="content-mypage-"] .sec-profile [class^="profile-"] .profile-info{
  flex: 1;
  margin-left: 3%;
}
[class^="content-mypage-"] .sec-profile [class^="profile-"] .profile-info h3{
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--white);
}
[class^="content-mypage-"] .sec-profile [class^="profile-"] .profile-info h3 span{
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--white);
}
[class^="content-mypage-"] .sec-profile [class^="profile-"] .profile-info p{
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--white);
} 
[class^="content-mypage-"] .profile-ka .profile-img i{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: var(--main-2);
}
[class^="content-mypage-"] .back{
  margin-top: 60px;
  cursor: pointer;
}
.f-mypage .gnb-list .f-mypage-ul li{
  color: var(--main-1);
}
.f-mypage .gnb-list .f-mypage-ul .bi{
  color: var(--main-1);
}
/*메인*/
.content-mypage-main ul{
  margin-top: 5%;
  background-color: var(--white);
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  padding: 3% 5%;
}
.content-mypage-main ul li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}
.content-mypage-main ul li h3{
  font-size: 1.8rem;
  font-weight: 600;
}
/*체크박스*/
input[type="radio"]{
  appearance: none;
}
input[type="radio"] + label::before{
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/mypage/icon-check-gray.svg) no-repeat center;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0%;
} 
input[type="radio"]:checked + label::before{
  background: url(../images/mypage/icon-check-blue.svg) no-repeat center;
}
input[type="radio"] + label{
  position: relative;
  padding: 0 28px;
  margin-bottom: 20px;
  cursor: pointer;
  color: var(--grayscale-5);
  font-weight: 500;
  font-size: 1.6rem;
}
input[type="radio"]:checked + label{
  color: var(--main-1);
}
/*대상자 수정*/
.content-mypage-sub-02 .sf02{
  margin: 7%;
}
.content-mypage-sub-02 .sf02 .profile-sh-y{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.content-mypage-sub-02 .sf02 .profile-sh-y .profile-img{
  height: 150px;
  aspect-ratio: 1 / 1; /* 가로:세로 = 1:1 */
  border-radius: 50%;
  background-color: #FFFDE6;
  padding: 4% 3% 5%;
}
.content-mypage-sub-02 .sf02 .profile-sh-y .profile-img img{
  width: 100%;
  height: 100%;
} 
.content-mypage-sub-02 .field05 .choice-box{
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 20px;
}
.content-mypage-sub-02 .field05 .choice-box > div{
  width: 100%;
  gap: 16px;
  align-items: space-between;
  border: 1px ;
  height: 48px;
  cursor: pointer;
  border-radius: 16px;
  justify-content: center;
}
.content-mypage-sub-02 .field05 .choice-box > div div{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: 1.8rem;
  font-weight: 600;   
  color: var(--grayscale-3);
  border-radius: 12px;
  border: 2px solid var(--main-1);
  padding: 0 16px;
}
.content-mypage-sub-02 .field05 .choice-box .field05-right{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.content-mypage-sub-02 .field05 .choice-box h4{
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--grayscale-3);
  letter-spacing: 1px;
}

.content-mypage-sub-02 .btn-midbox .btn-mid-01{
  background-color: var(--grayscale-8);
  color: var(--white);
  margin-bottom: 20px;
}
.content-mypage-sub-02 .btn-midbox button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}


/*보호자 수정*/
.guardian .sf02 .profile-sh-y .profile-img{
  background-color: var(--main-5);
  text-align: center;
}
.guardian .sf02 .profile-sh-y .profile-img .bi{
  font-size: 9rem;
  color: var(--main-1);
}
.guardian .field02 .btn-pw{
  width: 100%;
  height: 48px;
  padding: 0 3%;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--grayscale-2);
  background-color: var(--main-6);
  border-radius: 8px;
  margin-bottom: 4px;
  margin-top: 8px;
}
.field02 .input-icon span.id-icon{
  top: 65%;
}
.guardian .field02 .pw-box span{
  position: absolute;
  bottom: -3%;
  right: 5%; /*아이콘 위치 조정*/
  transform: translateY(-50%);
  font-size: 2.2rem;
  color: var(--grayscale-2);
  cursor: pointer;
}



/*구독권 관리*/
.content-mypage-03{
  background-color: var(--bg-color);
}
.content-mypage-03 .subscription-box-01{
  width: 100%;
  background-color: var(--white);
  padding: 36px 0;
  text-align: center;
  margin: 8px 0 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.07);
}
.content-mypage-03 .subscription-box-01 h3{
  color: var(--grayscale-6);
}
[class^="content-mypage-"] .plus{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.content-mypage-03 .modal-box{
  height: 300px;
}
.content-mypage-03 .modal-box h4{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 60px;
}

/*구독권 확인 창*/
.subscription03 .modal-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscription03 .modal-box{
  width: 360px;
  border-radius: 20px;
  padding-top: 40px;
}
.subscription03 .modal-box h5{
  margin: 20px 0 40px;
  font-size: 1.8rem;
}
/*구독권 등록 후*/
.subscription05 .subscription-box-01{
  padding: 24px 28px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subscription05 .subscription-box-01 p{
  margin-top: 8px;
  font-weight: 500;
  color: var(--grayscale-4);
}
.subscription05 .subscription-box-01 .subscrip-btn{
  background-color: var(--main-5);
  padding: 8px;
  border-radius: 8px;
  font-weight: 600;
  color: var(--mainfont-color);
}

/*생활알림*/
.routine .routine-menu ul{
  display: flex;
  gap: 12px;
  justify-content: space-between;
}
.routine .routine-menu ul li{
  flex: 1;
  text-align: center;
  padding: 12px 0;
  background-color: var(--grayscale-9);
  color: var(--grayscale-3);
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
}
.routine .routine-menu ul li.active{
  background-color: var(--main-1);
  color: var(--white);
}
.routine .routine-content-item{
  margin-bottom: 60px;
}
.routine .routine-content-item > li{
  margin: 20px 0;
  
}
.routine .routine-content-item > li a{
  display: block;
  background-color: var(--white);
  border-radius: 16px;
  padding: 24px 28px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.06);
}
.routine .routine-content-item .alert-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.routine .routine-content-item .alert-text > img{
  height: 40px;
}
.routine .routine-content-item .alert-text-left{
  display: flex;
  align-items: center;
  gap: 8px;
}
.routine .routine-content-item h4{
  font-size: 2.2rem;
}
.routine .routine-content-item .btn-time{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}
.routine .routine-content-item .btn-time li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 20px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--mainfont-color);
  border: 2px solid var(--main-1);
  padding: 4px 12px;
}


/*생활알림*/
.registration .registration-menu ul{
  display: flex;
  gap: 12px;
  justify-content: space-between;
  margin: 8px 0 12px;
}
.registration .registration-menu ul li{
  flex: 1;
  text-align: center;
  padding: 12px 0;
  background-color: var(--grayscale-9);
  color: var(--grayscale-3);
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
}
.registration .registration-menu ul li.active{
  background-color: var(--main-1);
  color: var(--white);
}
.registration .field05 ul{
  margin-bottom: 12px;
}
.registration .field05 p{
  font-size: 1.8rem;
  color: var(--grayscale-6);
  margin-bottom: 20px;
}
.registration .field05 .bi{
  font-size: 1.6rem;
  color: var(--grayscale-7);
  margin-right: 6px;
  cursor: pointer;

}


/*일정 등록*/
.registration .field02 .input-icon span.id-icon{
  top: 80%;
}
.registration .alert-set .btn-time-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
  width: 100%;
}
.registration .alert-set .btn-time-box div{
  width: calc((100% - 16px) / 2);
}
.registration .alert-set .btn-time-box .btn-time-right{
  display: flex;
  align-items: center;
  gap: 16px;
}
.registration .alert-set .btn-time-box .btn-time-right button{
  width: calc((100% - 16px) / 2);
}
.registration .alert-set .btn-time-box .time-set{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  border-radius: 12px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--mainfont-color);
  border: 2px solid var(--main-1);
  padding: 16px 0;
  background-color: transparent;
  font-size: 1.8rem;
}

.registration .alert-set .btn-time-box .delete{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #FF6464;
  width: 100%;
  background-color: #FFE4E4;
  font-size: 1.8rem;
  padding: 16px 0;
}
.registration .alert-set .btn-time-box .plus-btn{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--main-1);

  background-color: var(--main-5);
  font-size: 1.8rem;
  padding: 16px 0;
} 

/*등록 확인 창*/
.registration .modal-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}
.registration .modal-box{
  width: 360px;
  border-radius: 20px;
  padding-top: 40px;
  height: auto;
}
.registration .modal-box h5{
  margin: 20px 0 40px;
  font-size: 1.8rem;
}


/*specific-cal*/

.field07 input[type="checkbox"]{
  appearance: none;
}
.field07 ul{
  width: 100%;
  display: flex;
  gap: 6px;

}
.field07 ul li{
  flex: 1;
  text-align: center;
}
.field07 input[type="checkbox"] + label::before{
  content: none;
}
.field07 input[type="checkbox"] + label{
  display: inline-block;
  width: 100%;
  color: var(--grayscale-3);
  border-radius: 12px;
  padding: 16px 6px;
  background-color: var(--grayscale-9);
  font-weight: 500;
}
 
.field07 input[type="checkbox"]:checked + label{
  background-color: var(--main-1);
  color: #fff;
}
