@charset "utf-8";
:root{
  --main-font : "pretendard", sans-serif;
  --main-1 : #5B9CFF;
  --main-2 : #84AFFF;
  --main-3 : #A9C7FF;
  --main-4 : #CEE2FF;
  --main-5 : #E0EBFF;
  --main-6 : #EFF8FF;
  --grayscale-1 : #101010;
  --grayscale-2 : #252525;
  --grayscale-3 : #454545;
  --grayscale-4 : #5D5F62;
  --grayscale-5 : #83878B;
  --grayscale-6 : #9CA2A8;
  --grayscale-7 : #BAC0C5;
  --grayscale-8 : #D5D9DD;
  --grayscale-9 : #E5EAEF;
  --grayscale-10 : #F0F3F6;
  --white : #fff;
  --mainfont-color: #2079ff;
  --bg-color : #F6FAFD;
  --main-gradi : linear-gradient(90deg,rgba(124, 176, 255, 1) 0%, rgba(87, 154, 255, 1) 100%);
}

.head1 .inner {
  position: relative;
  background-color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.02);
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 1px solid var(--grayscale-10);
}

.tab-menu {
  display: flex;
  gap: 16px;
  width: 100%;
  height: 52px;
  align-items: center;
  padding: 0 16px;
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: -15px;
  border-bottom: none;
  box-sizing: border-box;
}
.tab {
  font-size: 22px;
  font-weight: 600;
  color: var(--grayscale-7);
  cursor: pointer;
  transition: all 0.3s ease;
  user-select: none;
  padding-bottom: 4px;
  height: 100%;
  line-height: 52px;
  box-sizing: border-box;
  position: relative;
  border-bottom: 3px solid transparent;
}
.tab.active {
  border-bottom-color: var(--main-1);
  color: var(--grayscale-2);
}
.user-guide-wrap{
  padding-top: 60px;
}




/*여기서부터 작성*/